*.class
*.log
.cache
.history
.DS_Store
.lib/
app/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/project/
project/plugins/project/
#idea
.idea
*.iml
.idea_modules
*.json
*.json--

*.swp
.scala_dependencies
.worksheet
ingest-intrusion-data/ingest-intrusiondata-tmp/*
bigdl/source/lib
release/staging/
deploy.conf
kstream/source/core/example-dsl/tmp/
kstream/source/core/example-proc/tmp/
nwintrusion/bin/helmcharts/anomalychart/values.yaml
nwintrusion/bin/helmcharts/batchkmeanschart/values.yaml
nwintrusion/bin/helmcharts/transformchart/values.yaml
kstream/bin/helmcharts/dslhelmchart/values.yaml
kstream/bin/helmcharts/prochelmchart/values.yaml
bigdl/bin/helmcharts/vggcifarchart/values.yaml
flink/bin/helmcharts/taxirideapp/values.yaml
flink/bin/helmcharts/taxirideingestion/values.yaml
