*.class
*.log
.cache
.history
.DS_Store
.lib/
app/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/project/
project/plugins/project/
#idea
.idea
*.iml
.idea_modules


*.swp
.scala_dependencies
.worksheet
ingest-intrusion-data/ingest-intrusiondata-tmp/*
bigdl/source/lib
release/staging/
deploy.conf
apps/kstream/source/core/example-dsl/tmp/
apps/kstream/source/core/example-proc/tmp/

apps/nwintrusion/helm/values.yaml
apps/nwintrusion/helm/Chart.yaml
apps/bigdl/helm/values.yaml
apps/bigdl/helm/Chart.yaml
apps/flink/helm/values.yaml
apps/flink/helm/Chart.yaml
apps/kstream/helm/values.yaml
apps/kstream/helm/Chart.yaml

apps/killrweather/helm/values.yaml
apps/killrweather/helm/Chart.yaml
apps/killrweather/helm-hdfs/values.yaml
apps/killrweather/helm-hdfs/Chart.yaml
apps/killrweather/helm-pvc/values.yaml
apps/killrweather/helm-pvc/Chart.yaml
apps/killrweather/helm-spark-checkpointing-pvc-creation/values.yaml
apps/killrweather/helm-spark-checkpointing-pvc-creation/Chart.yaml
apps/akka-kafka-streams-model-server/helm/values.yaml
apps/akka-kafka-streams-model-server/helm/Chart.yaml
