{
  "id": "/killrweathergrpcclient",
  "container": {
    "docker": {
      "image": "lightbend/grpcclient:FDP_VERSION",
      "forcePull": true,
    }
  },
  "instances": 1,
  "cpus": 2,
  "mem": 4096
}
