{
  "id": "/killrweathergrpcclient",
  "container": {
    "docker": {
      "image": "lightbend/grpcclient:VERSION_FDP",
      "forcePull": true,
    }
  },
  "instances": 1,
  "cpus": 2,
  "mem": 4096
}