{
  "name": "serving",
  "type": "influxdb",
  "typeLogoUrl": "public/app/plugins/datasource/influxdb/img/influxdb_logo.svg",
  "access": "proxy",
  "url": "http://INFLUXDB_HOST:8086",
  "password": "root",
  "user": "root",
  "database": "serving",
  "basicAuth": true,
  "isDefault": false,
  "jsonData": {}
}
