{
  "id": "/kafkamodelserver",
  "container": {
    "docker": {
      "image": "lightbend/kafkasvc:FDP_VERSION",
      "forcePull": true
    }
  },
  "instances": 1,
  "cpus": 0.2,
  "mem": 2048,
  "disk": 512,
  "gpus": 0
}
