{
  "id": "/kstream-app-dsl",
  "cmd": "export PATH=$(ls -d $MESOS_SANDBOX/jre*/bin):$PATH && ./dslpackage-0.1/bin/dslpackage",
  "env": {
    "INTERFACE_DSL": "0.0.0.0",
    "KAFKA_BROKERS": "broker.confluent-kafka.l4lb.thisdcos.directory:9092"
  },
  "cpus": 1.0,
  "mem": 8192,
  "disk": 20480,
  "instances": 1,
  "fetch": [
    { "uri": "https://downloads.mesosphere.com/java/jre-8u112-linux-x64.tar.gz" },
    { "uri": "http://jim-lab.marathon.mesos/dslpackage-0.1.tgz" }
  ]
}
