{
  "id": "/killrweatherhttpclient",
  "container": {
    "docker": {
      "image": "lightbend/httpclient:VERSION_FDP",
      "forcePull": true,
    }
  },
  "instances": 1,
  "cpus": 2,
  "mem": 4096

}
